<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    {% include 'navbar.html' %}

    
    <div class="container">
        {% if errorcode==6000 %}帳號或密碼錯誤
        {% elif errorcode==6001 %}資料庫連線錯誤
        {% endif %}

    </div>

    <script src="/static/js/bootstrap.js"></script>
</body>
</html>